.header {
  width: 100%;
  margin-bottom: 16px;
}

.gutter-row {
  margin: 15px 0px;
}

.inner-box {
  padding: 10px;
  width: 300px;
}

.ant-pagination {
  text-align: center;
}

label {
  margin-top: 5px;
}
