.header {
  width: 100%;
  margin-bottom: 16px;
}

.gutter-row {
  margin: 15px 0px;
}

.inner-box {
  padding: 10px;
  width: 300px;
}

.ant-pagination {
  text-align: center;
}

.ant-tabs {
  margin: 20px;
}

.header {
  display: flex;
  background-color: #c00d0d;
  padding: 1%;
  justify-content: center;
  max-height: 70px;
  position: relative;
}

img {
  max-height: 100px;
  max-width: 110px;
}
