<div id="pokedex">
    <div id="left">
      <div id="picture" *ngIf="pokemon" >
        <img height="250px" width="250px" src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png" />
      </div>
    </div>
    <div id="right">
      <div
        id="stats"
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="32px"
        fxLayoutAlign="flex-start"
      >
        <div *ngIf="pokemon">
          <p><b>Name: </b>{{ pokemon.name }}</p>
          <p><b>Type: </b>{{ pokemon.types && pokemon.types[0].type.name }}</p>
          <p><b>Species: </b>{{ pokemon.species && pokemon.species.name }}</p>
          <p><b>Base Experience: </b>{{ pokemon.base_experience }}</p>
        </div>
        <div *ngIf="pokemon">
          <p><b>Height: </b>{{ pokemon.height }}''</p>
          <p><b>Weight: </b>{{ pokemon.weight }}</p>
          <p><b>Health: </b>{{ pokemon.stats && pokemon.stats[0].base_stat }}</p>
          <p><b>Attack Power: </b>{{ pokemon.stats && pokemon.stats[1].base_stat }}</p>
          <br />
        </div>
      </div>
    </div>
  </div>