:host {
  margin: 0;
  padding: 5%;
  width: 60%;
}

@media all {
  div#pokedex {
    width: 750px;
    margin: 0 auto;
  }

  div#left {
    width: 400px;
    height: 500px;
    float: left;
    position: relative;
    z-index: 1;
  }

  div#right {
    width: 350px;
    height: 500px;
    float: left;
    position: relative;
  }
}
