input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 8px;
  margin: 16px 0 5px 0;
}

.search-bar {
  display: flex;
  padding: 0px 30px 0px 30px;
  justify-content: center;
}

/* Button */
button[type="submit"] {
  display: none;
}
